# Build output
build
.gradle
.gradle-cache
.kotlin
.idea
.vscode
bin
out
tmp
test-results
*.log

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
*.iml
*.ipr
*.iws
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Misc
.github
.git
.gitattributes
.gitmodules
.gitignore
README.md
Dockerfile
.dockerignore
